:root {
    --primary-color: cornflowerblue;
    --secondary-color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.6;
}

header {
    padding: 30px 45px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}

header h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    color: black;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 9px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
    background: var(--primary-color);
    padding: 30px 25px;
   
}

footer h4 {
    font-size: 20px;
    font-style: italic;
    float: right;
}

.hero {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero h2,  .hero p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin: 10%;
    width: 35%;
    font-size: 3.5vw;
    line-height: 1.2;
    color: var(--secondary-color);
}

.flex-row {
    display: flex;
}

.section-title {
    font-size: 2.25vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 100px 20px 100px;
    margin: 0 auto;
}

.bio p {
    line-height: 1.5;
    width: 80%;
    font-size: 20px;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
    padding: auto;
}

.my-portfolio {
    width: 75%;
    margin: 0 auto;
}

.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

.portfolio-images img{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.image-1 {
    margin: 10px;
    flex: 1;
}

.image-2 {
    margin: 10px;
    flex: 1;
}

.image-3 {
    margin: 10px;
    flex: 1;
}

.image-4 {
    margin: 10px;
    flex: 1;
}

.contact-info {
    padding: 1.5vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    margin: 20px 0;
}

.contact-links {
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    color: var(--secondary-color);
}

.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.75);
} 

.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255,1);
    outline: none;
}

.contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

.contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
}

.contact-info a {
    color: var(--primary-color);
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 5px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {

    section {
        padding: 30px 15px;
    }

    .bio p {
        font-size: 2.5vw;
    }

    .portfolio-iamges {
        flex: 0 100%;
    } 

    .contact-info {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        max-height: 100px;
        width: 60%;
   }    
    
    footer {
        padding-top: 0px;
    }
}

@media screen and (max-width: 575px) {
   
    .bio p {
        font-size: 3vw;
        width: 100%;
    }

    .portfolio-images {
        flex: 0 100%;
    } 

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

}